!!!
%html
  %head
    %title Poppables
    = stylesheet_link_tag    "admin"
    = javascript_include_tag "admin"
    = csrf_meta_tags

  %body#login
    .container
      .col-sm-6.col-sm-offset-3
        = form_tag [:admin, :sessions], class: "form-signin" do
          %h2.form-signin-heading Please sign in
          .form-group{ class: @error && "has-error" }
            %input.form-control(type="password" placeholder="Password" name="password")
          %button.btn.btn-lg.btn-primary.btn-block{ type: "submit" } Sign in
