@import './globals';
@import '~normalize.css/normalize.css';

@import './buttons';
@import './header.scss';
@import './pages/about.scss';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B';
  font-style: normal;
  font-weight: 500;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #a6f3f7;
  background-image: radial-gradient(ellipse farthest-corner at 50% 40%, #a6f3f7 0%, #32d9e2 100%);
  z-index: -1;

  .vignette {
    width: 100%;
    height: 100%;
  }

  .dots {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.3;
    mix-blend-mode: multiply;
  }

  // .whiteSpots {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   opacity: 0.3;
  // }

  // .rings {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   opacity: 0.6;
  // }

  .debris {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 1;
    background: url('~images/debris.png') center top no-repeat;
  }
}

.contentContainer {
  flex: 1;
  @include container;
}

.footer {
  background-color: #fff;
  color: #838383;
  padding: 15px 12px;
  font-family: arial;

  @include desktop {
    padding: 13px 20px 7px;
  }

  .copyright {
    float: right;

    span {
      display: none;

      @include desktop {
        display: inline;
        font-size: 12px;
      }
    }

    .logoFritoLay {
      background: url('~images/logo-frito-lay.png') no-repeat;
      background-size: contain;
      width: 39px;
      height: 26px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;

      @include desktop {
        position: relative;
        top: -3px;
      }
    }
  }

  .share {
    float: left;
    width: 80%;
    margin-bottom: 12px;

    @include desktop {
      width: auto;
      margin-bottom: 0;
    }

    a {
      margin-right: 7px;
      width: 26px;
      height: 26px;
      display: inline-block;
      background: no-repeat;
      background-size: contain;

      &.facebook {
        background-image: url('~images/icon-facebook.png')
      }

      &.twitter {
        background-image: url('~images/icon-twitter.png')
      }
    }
  }

  ul {
    display: flex;
    flex-flow: wrap;
    padding-left: 0;
    width: 100%;
    margin: 0;

    @include desktop {
      width: auto;
    }

    li {
      list-style-type: none;
      margin: 0;
      width: 50%;

      @include desktop {
        width: auto;
        margin-left: 10px;
      }

      a {
        text-decoration: none;
        color: #838383;
        font-size: 12px;
        line-height: 2.2;
      }
    }
  }
}
