.header { }

.headerBar {
  @include flex-container(center, space-between);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  height: 100px;
  display: flex;
  padding: 20px;

  &.headerBarScroll {
    height: 80px;
    background-color: #fff; /*$teal;*/
    transition: all 0.2s;
    @include boxShadow;
    .headerDesktop {
      box-shadow: none;
    }
    .headerLogo {
      .headerLogoImage {
        background-image: url('~images/logo-poppables-blue.png');
      }
    }
    .headerToggle {
      .navImage {
        box-shadow: none;
      }
    }
  }
}

.headerLogoContainer {
  @include flex-container(center, flex-start);
}

.headerGameImage {
  width: calc(100% - 60px);
  height: 40px;
  margin-left: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  .popsGameBody & {
    background-image: url("~components/games/ui/images/logos/pops.svg")
  }

  .dotsGameBody & {
    background-image: url("~components/games/ui/images/logos/drop.svg")
  }

  .catchGameBody & {
    // background-image: url("~components/games/ui/images/logos/catch.svg")
  }
}

.headerLogo {
  display: block;
  width: 125px;
  height: 100px;
  transition: all 0.2s;
  .headerLogoImage {
    background-image: url('~images/logo-poppables.png');
    width: 0;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    // padding: 52px;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
  }
  .headerLogoImageSmall {
    transform: scale(0.7);
  }
  &.small {
    transform: scale(0.7);
  }
}

.headerToggle {

  @include tablet {
    display: none;
  }

  margin-left: auto;
  cursor: pointer;

  .navImage {
    width: 0;
    padding: 19px;
    background-size: 47%;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -4px;
    background-position: 10px;
    @include boxShadow
  }
  .hamburger {
    background-image: url('~images/icon-hamburger.png');
  }
  .xIcon {
    background-image: url('~images/icon-x.png');
  }
}

.headerNav {
  display: none;

  @include tablet {
    display: block;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  button,
  .button {
    margin-bottom: 28px;
  }
}

.headerModal {
  @include desktopNav {
    display: none;
  }
  position: fixed;
  left: 5%;
  top: 20%;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  width: 90%;
  height: 400px;
  transition: all 0.1s;
}

.headerDesktop {
  display: none;
  background-color: #fff;
  height: 38px;
  min-width: 460px;
  border-radius: 50px;
  padding: 10px;
  margin-left: auto;
  @include boxShadow
  @include desktopNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .desktopNav {
    &.active {
      a {
        color: $red;
      }
    }
  }

  a {
    text-decoration: none;
    color: $navOrange;
    padding: 0 10px;
    font-size: .8rem;
    &:hover,
    &.active {
      color: $red;
    }
  }
}

.blurred {
  filter: blur(4px);
  opacity: .2;
  transition: all 0.1s;
}

@media (min-width: 699px) {
  .headerGameImage {
    background-position: 0 center;
  }
}