.header {
  .headerBar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    height: 100px;
    display: flex;
    padding-left: 8px;
    padding-top: 12px;
    padding-right: 8px;

    &.headerBarScroll {
      height: 65px;
      background-color: $teal;
      @include boxShadow
      transition: all 0.2s;
    }

    .headerLogo {
      .headerLogoImage {
        background-image: url('~images/logo-poppables.png');
        width: 0;
        background-size: 90%;
        background-repeat: no-repeat;
        padding: 52px;
        transform-origin: 0 0;
        transition: all 0.2s;
      }
      .headerLogoImageSmall {
        transform: scale(0.54);
      }
    }

    .headerToggle {

      @include desktopNav {
        display: none;
      }
      margin-left: auto;

      .navImage {
        width: 0;
        padding: 19px;
        background-size: 37%;
        background-repeat: no-repeat;
        background-color: #fff;
        border-radius: 50%;
        margin-left: -4px;
        background-position: 12px;
        @include boxShadow
      }
      .hamburger {
        background-image: url('~images/icon-hamburger.png');
      }
      .xIcon {
        background-image: url('~images/icon-x.png');
      }
    }
  }
  .headerNav {
    display: none;

    @include tablet {
      display: block;
    }
    a {
      color: #fff;
      text-decoration: none;
      .active {
        color: $red;
        border: 1px solid;
      }
    }
    button {
      margin-bottom: 28px;
    }
  }
  .headerModal {
    @include desktopNav {
      display: none;
    }
    position: fixed;
    left: 5%;
    top: 168px;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    width: 90%;
    height: 270px;
  }
  .headerDesktop {
    display: none;
    background-color: #fff;
    height: 38px;
    border-radius: 50px;
    padding: 10px;
    margin-left: auto;
    @include boxShadow
    @include desktopNav {
      display: flex;
    }
    a {
      text-decoration: none;
      color: $orange;
      padding: 10px;
      font-size: .8rem;
    }
  }
}
.blurred {
  filter: blur(4px);
  opacity: .7;
}
