@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin container {
 max-width: 926px;
 margin-right: auto;
 margin-left: auto;
 padding-left: 16px;
 padding-right: 16px;
 margin-top: 104px;

 @include tablet {
   padding-left: 32px;
   padding-right: 32px;
 }
}

@mixin tablet {
 @media (min-width: 700px) {
   @content;
 }
}

@mixin clearfix {
 &:after {
   content: '';
   display: table;
   clear: both;
 }
}

@mixin boxShadow {
  box-shadow: 2px 2px 1px rgba(0,0,0,.3);
}