.coming-soon {
  height: 100%;

  .content {
    position: relative;
    overflow: hidden;
    min-height: 100%;

    @include desktop {
      min-height: auto;
    }
  }

  &__logo {
    background-image: url('~images/logo-poppables.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 8vh auto 0;
    position: relative;
    width: 57vw;
    max-width: 236px;

    @media (orientation: landscape) {
      margin-top: 7vh;
      width: 13.5vw;
    }

    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__content {
    color: #1ac5cd;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.6);
    z-index: 0;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    width: 100%;
    letter-spacing: 0.01em;

    @media (orientation: portrait) and (min-width: 414px) {
      top: 48%;
    }

    @media (orientation: landscape) {
      top: 48%;
    }
  }

  &__title {
    margin: 0;
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: normal;

    @media (orientation: portrait) and (min-width: 414px) {
      font-size: 37px;
    }

    @media (orientation: landscape) {
      font-size: 3.7vw;
    }

    @media (orientation: landscape) and (min-width: 1600px) {
      font-size: 60px;
    }
  }

  &__copy {
    font-size: 5vw;
    margin: 3vw auto 0;

    @media (orientation: portrait) and (min-width: 414px) {
      font-size: 21px;
      margin-top: 12px;
    }

    @media (orientation: landscape) {
      font-size: 1.8vw;
      margin-top: 1vw;
    }

    @media (orientation: landscape) and (min-width: 1600px) {
      font-size: 29px;
      margin-top: 16px;
    }
  }

  .bags {
    @include fillContainer;

    z-index: $zFrontBags;
  }

  @mixin bag {
    width: 55%;
    position: absolute;
    top: 100%;
    pointer-events: all;
    transform: translateY(-100vh) translateY(-100%);
    transition: all 1s $ease-out-quart;

    .phase1 & {
      transition: all 1s $ease-out-quart;
    }

    &:before {
      content: '';
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 141%;
    }
  }

  .orangeBag {
    @include bag;

    right: 38%;
    transform: rotate(-6deg) translateY(-56%);
    background: url('~images/bagOrange740.png') center top no-repeat;
    background-size: contain;

    @media (orientation: landscape) {
      width: 23%;
      right: 45%;
    }

    &:hover, &:focus {
      transform: rotate(-6deg) translateY(-83%);
    }
  }

  .blueBag {
    @include bag;

    left: 42%;
    transform: rotate(6deg) translateY(-56%);
    background: url('~images/bagBlue740.png') center top no-repeat;
    background-size: contain;

    @media (orientation: landscape) {
      width: 23%;
      left: 46%;
    }

    &:hover, &:focus {
      transform: rotate(6deg) translateY(-83%);
    }

    img {
      width: 100%;
      position: relative;
    }
  }

  .header {
    display: none;
  }

  .footer {
    ul {
      li {
        &:first-child {
          margin-left: 0;
        }
      }
    }

    .share {
      display: none;
    }

    .internalFooterLink {
      display: none;
    }
  }
}
