
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #a6f3f7;
  // CSS multiple background images actually performs the worst
  // background-image: url('~images/debris.png'), url('~images/noise64.png'), url('~images/bgdotstrip.png'), radial-gradient(ellipse farthest-corner at 50% 45%, #a6f3f7 30%, #1ad4de 100%);
  // background-position: center top, 0 0, bottom, 0 0;
  // background-size: auto, auto, auto 50%, auto;
  // background-repeat: no-repeat, repeat, repeat-x, no-repeat;
  // background-blend-mode: color-burn, soft-light, multiply, normal;
}

body.overflow {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #EC1E4E;
}

.notFooter {

}

.ghost {
  transition: opacity .5s;
  opacity: 0;
  pointer-events: none;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;

  // .whiteSpots {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   opacity: 0.3;
  // }

  // .rings {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   opacity: 0.6;
  // }
}

.content {
  flex-grow: 1;
  display: flex;
  position: relative;

  > * {
    flex-grow: 1;
  }
}

.footer {
  background-color: #fff;
  color: #838383;
  padding: 15px 12px;
  font-family: arial;
  z-index: 6;

  @include desktop {
    padding: 13px 20px 7px;
  }

  .copyright {
    float: right;

    span {
      display: none;

      @include desktop {
        display: inline;
        font-size: 12px;
      }
    }

    .logoFritoLay {
      background: url('~images/logo-frito-lay.png') no-repeat;
      background-size: contain;
      width: 39px;
      height: 26px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;

      @include desktop {
        position: relative;
        top: -3px;
      }
    }
  }

  .mobileCopyright {
    font-size: .625rem;

    @include desktop {
      display: none;
    }
  }

  .share {
    float: left;
    width: 80%;
    margin-bottom: 12px;

    @include desktop {
      width: auto;
      margin-bottom: 0;
    }

    a {
      margin-right: 7px;
      width: 26px;
      height: 26px;
      display: inline-block;
      background: no-repeat;
      background-size: contain;

      &.facebook {
        background-image: url('~images/icon-facebook.png')
      }

      &.twitter {
        background-image: url('~images/icon-twitter.png')
      }
    }
  }

  ul {
    display: flex;
    flex-flow: wrap;
    padding-left: 0;
    width: 100%;
    margin: 0;

    @include desktop {
      width: auto;
    }

    li {
      list-style-type: none;
      margin: 0;
      width: 50%;

      @include desktop {
        width: auto;
        margin-left: 10px;
      }

      a {
        text-decoration: none;
        color: #838383;
        font-size: 12px;
        line-height: 2.2;
      }
    }
  }
}

.accessible-hide {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
