.gameBody {
	.notFooter {
		min-height: 100%;
	}

	.headerLogoImage {
		
	}

	.headerBar {
		height: 60px;
		background: #fd781d; /* Old browsers */
		background-image: url("~images/bg-dots-8.png");
		background-image: url("~images/bg-dots-8.png"), -moz-radial-gradient(bottom, ellipse cover, #ffb300 0%, #fd610c 100%); /* FF3.6-15 */
		background-image: url("~images/bg-dots-8.png"), -webkit-radial-gradient(bottom, ellipse cover, #ffb300 0%,#fd610c 100%); /* Chrome10-25,Safari5.1-6 */
		background-image: url("~images/bg-dots-8.png"), radial-gradient(ellipse at bottom, #ffb300 0%,#fd610c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb300', endColorstr='#fd610c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		.headerLogo {
			width: 60px;
			height: 60px;
			.headerLogoImage {
				background-image: url('~images/lays-logo.png');
				background-size: 70%;
			}
		}
	}
}

.game-body {
	position: absolute;
	top: 60px; /* room for headerBar */
	width: 100%;
	height: calc(100% - 100px);
	background : #a6f3f7;
  background: -moz-radial-gradient(center, ellipse cover, #a6f3f7 0%, #32d9e2 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #a6f3f7 0%,#32d9e2 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #a6f3f7 0%,#32d9e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f3f7', endColorstr='#32d9e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.game-container {
	//width: 602px;
	//height: 699px;
	margin: 0 auto;
	background : #a6f3f7;
  background: -moz-radial-gradient(center, ellipse cover, #a6f3f7 0%, #32d9e2 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #a6f3f7 0%,#32d9e2 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #a6f3f7 0%,#32d9e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f3f7', endColorstr='#32d9e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.game-menu .text {
	color: #A4A4A4;
	font-size: 8px;
	margin-left: 2px;
	text-transform: uppercase;
	font-family: Lato, sans-serif;
}

#game {
	max-width: 768px;
	margin: 0 auto;
}


