.game-body {
  position: absolute;
  top: $gameHeaderHeight;
  width: 100%;
  height: calc(100% - #{$gameHeaderHeight});
  background: #a6f3f7;
  background: -moz-radial-gradient(center, ellipse cover, #a6f3f7 0%, #32d9e2 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #a6f3f7 0%, #32d9e2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #a6f3f7 0%, #32d9e2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f3f7', endColorstr='#32d9e2', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.game-container {
  margin: 0 auto;
  background: #a6f3f7;
  background: -moz-radial-gradient(center, ellipse cover, #a6f3f7 0%, #32d9e2 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #a6f3f7 0%, #32d9e2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url('~images/debris.png'), radial-gradient(ellipse at center, #a6f3f7 0%, #32d9e2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f3f7', endColorstr='#32d9e2', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.game-menu .text {
  color: #A4A4A4;
  font-size: 8px;
  margin-left: 2px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
}

#game {
  max-width: 768px;
  height: calc(100vh - #{$gameHeaderHeight});
  margin: 0 15px;
}

.divider {
	width: 35%;
	height: 1px;
	background-color: #fff;
	margin: 15px 0 15px;;
}

/* SCREENS */
.screen {
	@include flex-container(center, center, column);
	padding: 0 20px;
	max-width: 786px;
	z-index: 9000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

	header {

	}

	input {
		height: 45px;
		width: 90%;
		max-width: 384px;
		border: 1px solid #AAA;
		text-align: center;
		text-transform: uppercase;
		color: lightgray;
		font-size: 20px;
		&.error {
			border: 1px #ed1846 solid;
			font-size: 20px;
			color: lightgray;
		}
	}

	::placeholder {
		color: lightgray;
	}

	.title {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.pause-title {
		margin-top: 88px;
		margin-bottom: 72px;
		font-size: 38px;
	}

	.small-title {
		margin-top: 30px;
		font-size: 16px;
		margin-bottom: 8px;
	}

	.pro-tip {
		font-size: 12px;
	}

	.prompt {
		font-size: 14px;
		line-height: 1.5;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.small-prompt {
		font-size: 13px;
		line-height: 1.5;
	}

  .preview {
    border-radius: 30px;
  }

	.error {
		color: #ed1846;
		font-size: 12px;
	}

	.row {
		@include flex-container(center, center);
		button,
		.button {
			min-width: 50%;
		}
		button:first-child,
		.button:first-child {
			margin-right: 5px;
		}
		button:last-child,
		.button:last-child {
			margin-left: 5px;
		}
	}

	/* OVERRIDES */
	button {
		font-size: 11px;
	}
	button.active {
		font-size: 15px;
	}
	a {
		padding: 10px;
		font-size: 13px;
	}
}

@media (min-width: 768px) {
	#game {
		margin: 0 auto;
	}
}

@media (min-width: 700px) {
	.screen {
		.prompt {
			font-size: 24px;
		}

		.small-prompt {
			font-size: 18px;
		}

		.pro-tip {
			font-size: 16px;
		}
	}
}

@media (min-width: 400px) {
	.screen .row button,
	.screen .row .button {
		min-width: 190px;
	}
}
