.officialRules {
  &__content {
    @include container;
    @include boxShadow;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 90%;

    @include tablet {
      margin-top: 10rem;
    }
  }

  &__title {
    color: $red;
    font-size: 1.125rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__copy {
    color: $orange;
    font-size: .625rem;
    line-height: 2;
    margin: 1.25rem auto;

    @include tablet {
      font-size: .8rem;
    }
  }

  .notFooter {
    display: flex;
    min-height: 100%;
    overflow: hidden;
  }

  .footer {
    position: relative;
    z-index: 7;

    @include tablet {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .internalFooterLink {
      display: none;
    }
  }

}
