.where-to-buy {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 90px 20px 0;
    min-height: calc(100vh - 140px);
  }

  &__img {
    background: transparent url('~images/snack-bags.png') 0 0 no-repeat;
    background-size: contain;
    background-position: center center;
    margin: auto;
    // padding-top: 41%;
    max-width: 333px;
    height: 269px;
  }

  &__content {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
    z-index: 0;
  }

  &__title {
    margin: 0 auto;
    margin-top: 2.5%;
    font-size: 4.5vw;
    font-weight: normal;
    color: $red;
    max-width: 65rem;

    @include desktop {
      font-size: 40px;
      margin-top: 60px;
    }
  }

  &__copy {
    font-size: 3vw;
    margin: 2vw auto 0;
    color: $red;

    @include desktop {
      font-size: 30px;
      margin-top: 16px;
    }
  }

  &__button-wrapper {
    margin: 1.75rem;

    @include desktop {
      margin: 3.75rem;
    }
  }

  &__button {
    margin: .5rem auto;
    max-width: 15rem;
    padding: 0 1rem;
    height: 45px;
    line-height: 45px;
    text-shadow: none;
    background-color: #fff;
    color: #fa3f4a;
    vertical-align: middle;

    @include desktop {
      margin: 0 .5rem;
    }

    &:hover {
      background-color: #eee;
    }

    &--amazon {
      background-image: url('~images/logo-color-amazon.png');
      background-position: center 60%;
      background-repeat: no-repeat;
      background-size: auto 50%;
    }

    &--jet {
      background-image: url('~images/logo-color-jet.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 50%;
    }

    &--walmart {
      background-image: url('~images/logo-color-walmart.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 50%;
    }
  }

  .footer {
    position: relative;
    z-index: 7;

    @include tablet {
      // position: absolute;
      // bottom: 0;
      // width: 100%;
    }
  }
}
