<% content_for :body_class, 'aboutPage' %>

<div class="aboutPageWrapper">
  <div class="cards">

    <div class="aboutCard photoOnRight slideUpAnimation">
      <div class="aboutCardSection">
        <div class="aboutCardPhotoContainer">
          <div class="aboutCardPhoto">
          </div>
        </div>
      </div>

      <div class="aboutCardSection">
        <h1 class="cardTitle">It's time to Taste the Poppabilities!</h1>
        <div class="cardText">
          <p>New Lay's Poppables are the perfectly popped potato snack that makes you go, "Mmmmm." It might be the light and airy texture, or the flavor inside and out…regardless, these potato puffs are pretty perfect. Now available in Sea Salt and White Cheddar.</p>
        </div>
        <a href="/nutrition" class="button" data-ga-id="About Poppables Tile - Nutrition Facts">Nutrition Facts</a>
      </div>
    </div>

    <div class="aboutCard slideUpAnimation">
      <div class="aboutCardSection">
        <div class="aboutCardPhoto12Pack"></div>
      </div>

      <div class="aboutCardSection">
        <h2 class="cardTitle">Sometimes, a little pop is all you need!</h2>
        <div class="cardText">
          <p>Lay’s® Poppables Sea Salt Potato Snacks are now available in 12-count packs! With only 75 calories per bag, they're the perfectly light pick-me-up snack for anyone's day! </p>
        </div>
        <a href="/nutrition" class="button" data-ga-id="About Poppables Tile - 12-pack Nutrition Facts">Nutrition Facts</a>
      </div>
    </div>

  </div>
</div>
