<% content_for :body_class, 'aboutPage' %>

<div class="aboutPageWrapper">
  <div class="cards">

    <div class="aboutCard photoOnRight slideUpAnimation">
      <div class="aboutCardSection">
        <div class="aboutCardPhotoContainer">
          <div class="aboutCardPhoto">
          </div>
        </div>
      </div>

      <div class="aboutCardSection">
        <h1 class="cardTitle">It's time to Taste the Poppabilities!</h1>
        <div class="cardText">
          <p>New Lay's Poppables are the perfectly popped potato snack that makes you go, "Mmmmm." It might be the light and airy texture, or the flavor inside and out…regardless, these potato puffs are pretty perfect. Now available in Sea Salt and White Cheddar.</p>
        </div>
        <a href="/nutrition" class="button" data-ga-id="About Poppables Tile - Buy Now">Nutrition Facts</a>
      </div>
    </div>

    <div class="aboutCard slideUpAnimation">
      <div class="aboutCardSection">
        <div class="aboutCardPhoto2"></div>
      </div>

      <div class="aboutCardSection">
        <h2 class="cardTitle">Find Poppables at The Color Run!</h2>
        <div class="cardText">
          <p>We've teamed up with The Color Run to bring a little fun &amp; flavor to your city! Visit any of the 40+ races in cities across the US to get free Poppables samples, gear and exclusive experiences!</p>
        </div>
        <a href="http://thecolorrun.com/events/" class="button" target="_blank" data-ga-id="Color Run Tile - Find A Race">Find a Race Near You</a>
      </div>
    </div>

  </div>
</div>
