<% content_for :body_class, 'aboutPage' %>

<div class="aboutPageWrapper">
  <div class="cards">

    <div class="aboutCard photoOnRight slideUpAnimation">
      <div class="aboutCardSection">
        <div class="aboutCardPhotoContainer">
          <div class="aboutCardPhoto">
          </div>
        </div>
      </div>

      <div class="aboutCardSection">
        <h1 class="cardTitle">It's time to Taste the Poppabilities</h1>
        <div class="cardText">
          <p>There's something about the light texture &amp; airy, crispy crunch of new Lay's Poppables that makes you go, "Mmmmm." It could be the bite-sized, perfectly popped shape. Or maybe that it's deliciously seasoned with flavor, both inside &amp; out. Either way, we think you'll find this one-of-a-kind potato snack oh so poppable, and with about 30 pieces per serving, pretty perfect. Now available in Sea Salt and White Cheddar.</p>
        </div>
        <a href="http://www.fritolay.com/snacks/product-page/lays" target="_blank" class="button">Learn More</a>
      </div>
    </div>

    <div class="aboutCard slideUpAnimation">
      <div class="aboutCardSection">
        <div class="aboutCardPhoto2"></div>
      </div>

      <div class="aboutCardSection">
        <h2 class="cardTitle">Find Poppables at The Color Run!</h2>
        <div class="cardText">
          <p>We've teamed up with The Color Run to bring a little fun &amp; flavor to your city! Visit any of the 40+ races in cities across the US to get free Poppables samples, gear and exclusive experiences!</p>
        </div>
        <a href="http://thecolorrun.com/events/" class="button" target="_blank">Find a Race Near You</a>
      </div>
    </div>

  </div>
</div>
