<div class="aboutPage">
  <div class="cards">
    <div class="aboutCard">
      <div class="aboutCardSection">
        <div class="cardTitle">
          About Lay's Poppables
        </div>
        <div class="cardText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis ornare efficitur. Sed rutrum mollis dui ut bibendum. Nulla eget volutpat felis. Maecenas iaculis risus in consequat semper. Phasellus molestie justo diam, egestas accumsan lorem ultricies id. Cras tristique ac massa et tempus. Fusce pharetra, orci id fringilla convallis, felis nulla consectetur nisl, quis tempus augue nunc ac augue. Donec vel tellus ac est euismod commodo id vitae diam.
          <p>Play a game to earn a free trial bag of the new snack.</p>
        </div>
        <button>Play A Game</button>
      </div>
      <div class="aboutCardPhoto">
        Photo here
      </div>
    </div>
    <div class="aboutCard">
      <div class="aboutCardSection">
        VIDEO
      </div>
      <div class="aboutCardSection">
        <div class="cardTitle">
          Fun Facts About the Great New Snack
        </div>
        <div class="cardText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis ornare efficitur. Sed rutrum mollis dui ut bibendum. Nulla eget volutpat felis. 
        </div>
      </div>
    </div>
    <div class="aboutCard">
      <div class="aboutCardSection">
        <div class="cardTitle">
          Loren Ipsum Dolor Sit Amet
        </div>
        <div class="cardText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis ornare efficitur. Sed rutrum mollis dui ut bibendum. Nulla eget volutpat felis. Maecenas iaculis risus in consequat semper. Phasellus molestie justo diam, egestas accumsan lorem ultricies id. Cras tristique ac massa et tempus. Fusce pharetra, orci id fringilla convallis, felis nulla consectetur nisl, quis tempus augue nunc ac augue. Donec vel tellus ac est euismod commodo id vitae diam.
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag *webpack_asset_paths('home') %>
<% end %>
