<% content_for :body_class, 'coming-soon' %>

<div class="coming-soon__wrapper">
  <div class="coming-soon__logo"></div>

  <div class="coming-soon__content">
    <h1 class="coming-soon__title">Ready, Set, Pop!</h1>
    <p class="coming-soon__copy">The fun starts 2/27/17</p>
  </div>

  <div class="bags">
    <div tabindex="-1" class="orangeBag"></div>
    <div tabindex="-1" class="blueBag"></div>
  </div>
</div>
