<% content_for :body_class, 'comingSoon' %>

<div class="comingSoon__content">
  <div class="comingSoon__logo"></div>
  <h1 class="comingSoon__title">Coming Soon!</h1>
  <p class="comingSoon__copy">February 27, 2017</p>
  <div class="comingSoon__bags">
    <div class="comingSoon__bag-left"></div>
    <div class="comingSoon__bag-right"></div>
  </div>
</div>