<% content_for :body_class, 'coming-soon' %>

<div class="coming-soon__wrapper">
  <div class="coming-soon__logo"></div>

  <div class="coming-soon__content">
    <h1 class="coming-soon__title">Coming Soon!</h1>
    <p class="coming-soon__copy">February 27, 2017</p>
  </div>

  <div class="coming-soon__bags">
    <div  class="coming-soon__bag-left"></div>
    <div class="coming-soon__bag-right"></div>
  </div>
</div>
