<% content_for :body_class, 'aboutPage' %>

<div class="aboutPageWrapper">
  <div class="cards">

    <a href="/about" class="button">Back</a>

    <div class="aboutCard slideUpAnimation">
      <div class="aboutCardSection">
        <div class="aboutCardPhotoRed"></div>
      </div>

      <div class="aboutCardSection">
        <div class="cardText">
          <table class="aboutNutrition">
            <tr>
              <th colspan="2">Nutrition Facts</th>
            </tr>
            <tr>
              <td colspan="2">Serving Size About 28 Pieces (28g)</td>
            </tr>
            <tr>
              <td>Calories 150</td>
              <td>% Daily Value*</td>
            </tr>
            <tr>
              <td>Total Fat 8g</td>
              <td>11%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Saturated Fat</span> 1g</td>
              <td>6%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Trans Fat</span> 0g</td>
              <td></td>
            </tr>
            <tr>
              <td>Cholesterol 0mg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Sodium 220mg</td>
              <td>10%</td>
            </tr>
            <tr>
              <td>Total Carbohydrate 17g</td>
              <td>6%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Dietary Fiber 1g</td>
              <td>4%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Total Sugars less than 1g</td>
              <td></td>
            </tr>
            <tr>
              <td>Protein 1g</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Vitamin D 0mcg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Calcium 10mg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Iron 0.3mg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Potassium 170mg</td>
              <td>2%</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2" class="aboutNutritionFootnote">* The % Daily Value (DV) tells you how much a nutient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="aboutCard slideUpAnimation">
      <div class="aboutCardSection">
        <div class="aboutCardPhotoOrange"></div>
      </div>

      <div class="aboutCardSection">
        <div class="cardText">
          <table class="aboutNutrition">
            <tr>
              <th colspan="2">Nutrition Facts</th>
            </tr>
            <tr>
              <td colspan="2">Serving Size About 28 Pieces (28g)</td>
            </tr>
            <tr>
              <td>Calories 150</td>
              <td>% Daily Value*</td>
            </tr>
            <tr>
              <td>Total Fat 8g</td>
              <td>10%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Saturated Fat</span> 1.5g</td>
              <td>6%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Trans Fat</span> 0g</td>
              <td></td>
            </tr>
            <tr>
              <td>Cholesterol 0mg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Sodium 190mg</td>
              <td>8%</td>
            </tr>
            <tr>
              <td>Total Carbohydrate 17g</td>
              <td>6%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Dietary Fiber 1g</td>
              <td>4%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Total Sugars 1g</td>
              <td></td>
            </tr>
            <tr>
              <td>Protein 2g</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Vitamin D 0mcg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Calcium 20mg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Iron 0mg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Potassium 159mg</td>
              <td>2%</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2" class="aboutNutritionFootnote">* The % Daily Value (DV) tells you how much a nutient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="aboutCard slideUpAnimation">
      <div class="aboutCardSection">
        <div class="aboutCardPhotoBlue"></div>
      </div>

      <div class="aboutCardSection">
        <div class="cardText">
          <table class="aboutNutrition">
            <tr>
              <th colspan="2">Nutrition Facts</th>
            </tr>
            <tr>
              <td colspan="2">Serving Size About 30 Pieces (28g)</td>
            </tr>
            <tr>
              <td>Calories 150</td>
              <td>% Daily Value*</td>
            </tr>
            <tr>
              <td>Total Fat 8g</td>
              <td>11%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Saturated Fat</span> 1g</td>
              <td>6%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Trans Fat</span> 0g</td>
              <td></td>
            </tr>
            <tr>
              <td>Cholesterol 0mg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Sodium 220mg</td>
              <td>9%</td>
            </tr>
            <tr>
              <td>Total Carbohydrate 17g</td>
              <td>6%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Dietary Fiber 1g</td>
              <td>4%</td>
            </tr>
            <tr>
              <td><span class="aboutNutritionIndented">Total Sugars less than 1g</td>
              <td></td>
            </tr>
            <tr>
              <td>Protein 1g</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Vitamin D 0mcg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Calcium 6mg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Iron 0.3mg</td>
              <td>0%</td>
            </tr>
            <tr>
              <td>Potassium 170mg</td>
              <td>2%</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan="2" class="aboutNutritionFootnote">* The % Daily Value (DV) tells you how much a nutient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
