<% content_for :body_class, 'upgrade' %>

<div class="upgrade__wrapper">
  <div class="upgrade__logo"></div>

  <div class="upgrade__content">
    <h1 class="upgrade__title">Oh no! Looks like you need to update your browser.</h1>
      <center>
        <table>
          <tbody>
            <tr>
              <td>
                <a href="http://www.mozilla.org/en-US/firefox/new/" class="upgrade__link">
                  <div class="upgrade__browser upgrade__browser--firefox"></div>
                  <p class="upgrade__copy">Firefox</p>
                </a>
              </td>
              <td>
                <a href="https://www.google.com/intl/en_US/chrome/browser/" class="upgrade__link">
                  <div class="upgrade__browser upgrade__browser--chrome"></div>
                  <p class="upgrade__copy">Chrome</p>
                </a>
              </td>
              <td>
                <a href="https://www.apple.com/safari/" class="upgrade__link">
                  <div class="upgrade__browser upgrade__browser--safari"></div>
                  <p class="upgrade__copy">Safari</p>
                </a>
              </td>
              <td>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" class="upgrade__link">
                  <div class="upgrade__browser upgrade__browser--ie"></div>
                  <p class="upgrade__copy">Internet Explorer</p>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
  </div>
</div>
