<% content_for :body_class, 'where-to-buy' %>

<div class="where-to-buy__wrapper">
  <a href="#" class="backdrop"></a>
  <div class="where-to-buy__logo"></div>

  <div class="where-to-buy__content">
    <div class="where-to-buy__img"></div>
    <h1 class="where-to-buy__title">Find us where you buy your Lay's potato chips</h1>
    <p class="where-to-buy__copy">Get Poppables delivered to your front door!</p>
    <div class="where-to-buy__button-wrapper">
      <a href="http://www.fritolay.com/snacks/find-snacks.htm" target="_blank" class="button">Buy Now</a>
    </div>
  </div>
</div>
