<div id="games" style="margin-top:100px;">
  <ul>
    <% %w(pops dots catch).each do |slug| %>
      <li><%= link_to slug, game_path(slug) %></li>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag *webpack_asset_paths('home') %>
<% end %>