<% content_for :body_class, "gameBody #{@game}GameBody" %>

<div id="game-app"></div>

<% content_for :javascript do %>
  <script src="/vendor/phaser.js"></script>
  <%= javascript_include_tag *webpack_asset_paths(@game, extension: 'js') %>
<% end %>
