<div id="game-app"></div>

<% content_for :javascript do %>
  <script>window.GAME = "<%= params[:id] %>";</script>
  <script src="/assets/js/phaser.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
  <%= javascript_include_tag *webpack_asset_paths('games') %>
<% end %>
