default: &default
  adapter: postgresql
  encoding: utf8
  min_messages: warning
  pool: <%= ENV["MAX_THREADS"] || 10 %>
  reaping_frequency: <%= ENV["DB_REAPING_FREQUENCY"] || 10 %>
  timeout: 5000
  url: <%= ENV["DATABASE_URL"] %>

development: *default

test:
  <<: *default
  url: <%= ENV["TEST_DATABASE_URL"] %>

production: *default
staging: *default
