<% content_for :head do %>
  <style>
    .loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #2fc9d1;
      z-index: 900001;
    }

    .loader .chip {
      position: absolute;
      top: calc(50% - 128px);
      left: calc(50% - 128px);
      width: 256px;
      height: 256px;
      background: url('/static/loader.gif');
      background-size: 75%;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .ghost {
      opacity: 0;
      pointer-events: none;
      transition: 0.5s linear;
    }
  </style>
<% end %>

<% content_for :top do %>
  <div id="loader-screen" class="loader ghost">
    <div class="chip"></div>
  </div>
<% end %>

<% content_for :javascript, flush: true do %>
  <script>
    document.getElementById('loader-screen').classList.remove('ghost');

    function hideLoader() {
      var loader = document.getElementById('loader-screen');
      if (loader) {
        loader.classList.add('ghost');
        loader.addEventListener('transitionend', function() {
          loader.parentElement.removeChild(loader)
        });
        window.removeEventListener('load', hideLoader);
      }
    }
  </script>
  <%= yield :javascript %>
<% end %>

<%= render template: "layouts/application" %>
